/* ************************************************* */
/* *********************** FONT ******************** */
/* ************************************************* */


@font-face {
    font-family: 'fira_sansbold';
    src: url('./fonts/FiraSans-Bold.eot');
    src: url('./fonts/FiraSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('./fonts/FiraSans-Bold.woff') format('woff'),
         url('./fonts/FiraSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'fira_sansregular';
    src: url('./fonts/FiraSans-Regular.eot');
    src: url('./fonts/FiraSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('./fonts/FiraSans-Regular.woff') format('woff'),
         url('./fonts/FiraSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira_sanslight';
    src: url('./fonts/FiraSans-Light.eot');
    src: url('./fonts/FiraSans-Light.eot?#iefix') format('embedded-opentype'),
         url('./fonts/FiraSans-Light.woff') format('woff'),
         url('./fonts/FiraSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dejavu_sansbook';
    src: url('./fonts/DejaVuSans-webfont.eot');
    src: url('./fonts/DejaVuSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/DejaVuSans-webfont.woff') format('woff'),
         url('./fonts/DejaVuSans-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


/* *********** */
/*   generic   */
/* *********** */
body, div, ul, li, a, section, nav,
h1, h2, h3, h4, h5, h6,
hr, input, textarea {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'fira_sanslight', sans-serif;
}
ul {
    list-style-image:none;
    list-style-position:inside;
    list-style-type:none;
}

/* *********** */
/*    forms    */
/* *********** */
input[type="text"], input[type="password"], input[type="date"],
input[type="datetime"], input[type="email"], input[type="number"],
input[type="search"], input[type="tel"], input[type="time"],
input[type="url"], textarea {
    background-color: #ecf0f1;
    border: 1px solid #CCCCCC;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    color: rgba(0, 0, 0, 0.75);
    display: block;
    font-family: inherit;
    font-size: 14px;
    height: 56px;
    margin: 0 0 14px;
    padding: 7px;
    width: 100%;
}
textarea {
    height: inherit;
}
select {
    width: 100%;
    background-color: #ecf0f1;
    height: 28px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.75);
    border: 1px solid #ddd;
}
select[multiple="multiple"] {
    height: auto;
}
.button, input[type="submit"] {
    display: block;
    width: 100%;
    background-color: #2c3e50;
    color: #fff;
    border: none;
    margin-bottom: 14px;
    text-align: center;
    min-height: 56px;
    line-height: 56px;
    border-radius: 2px;
    font-weight: normal;
    cursor: pointer;
}
.button.neutral, input[type="submit"].neutral {
    background-color: #49535d;
}
.button:hover, input[type="submit"]:hover {
    background-color: #34495e;
}
.button.neutral:hover, input[type="submit"].neutral:hover {
    background-color: #49495d;
}
.help-text, .helptext {
    display: block;
    padding: 7px 7px;
    margin-top: -14px;
    margin-bottom: 14px;
    background: #777;
    color: #eee;
    font-size: 11px;
    border-radius: 0 2px;
}
select + .help-text {
    margin-top: 0;
}
.formbox {
    background-color: #555;
    min-height: 28px;
    line-height: 28px;
    padding-left: 14px;
    margin-bottom: 14px;
}
.formbox select {
    width: calc(100% - 14px);
}
.formbox.with-switch {
    padding-top: 2px;
}
label {
    display: block;
    font-size: 12px;
    line-height: 21px;
    width: 100%;
}
input[type="checkbox"] + label, input[type="radio"] + label {
    display: inline;
    padding: 0 14px;
}
select + .error,
input + .error {
    display: block;
    padding: 7px 7px;
    margin-top: -14px;
    margin-bottom: 14px;
    background: #ddd;
    color: #fff;
    background-color: #cc0000;
    font-size: 11px;
    border-radius: 0 2px;
}
input[type="file"] + .error {
    margin-top: 0;
}
fieldset.toggle > * {
    display: none;
}
fieldset.toggle {
    border-top: 1px solid #999;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 0 10px;
}
fieldset.toggle.on {
    border: 1px solid #999;
    padding-bottom: 5px;
}

fieldset.toggle .more_style_options,
fieldset.toggle legend {
    display: block;
    cursor: pointer;
}
fieldset.toggle .more_style_options:before {
    content: "…";
}
fieldset.toggle legend:before {
    content: "▶";
    padding-right: 5px;
    color: #666;
    font-size: 0.9em;
    vertical-align: middle;
}
fieldset.toggle.on legend:before {
    content: "▼";
}
fieldset.toggle.on > * {
    display: block;
}
fieldset.toggle.on .more_style_options {
    display: none;
}

/* Switch */
input.switch:empty {
    display: none;
}
input.switch:empty ~ label {
    position: relative;
    float: left;
    line-height: 1.6em;
    text-indent: 3em;
    margin: 0.2em 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
input.switch:empty ~ label:before,
input.switch:empty ~ label:after {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: ' ';
    width: 3.6em;
    background-color: #8A4740;
    -webkit-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    color: #efefef;
}
input.switch:empty ~ label:after {
    width: 1.4em;
    top: 0.1em;
    bottom: 0.1em;
    margin-left: 0.1em;
    background-color: #efefef;
    content: "off";
    text-indent: 22px;
}
input.switch:checked:empty ~ label:after {
    content: ' ';
}
input.switch:checked ~ label:before {
    background-color: #3E815A;
    content: "on";
    text-indent: 4px;
    text-align: left;
}
input.switch:checked ~ label:after {
    margin-left: 2.1em;
}




/* *********** */
/*     Map     */
/* *********** */
#map {
    position: absolute;
    top: 40px;
    bottom: 0;
    right: 0;
    left: 0;
    width:100%;
}
.zoom-indicator {
    background-color: #444;
    color: #ecf0f1;
    text-align: center;
    font-family: 'fira_sanslight';
}


/* ********************************* */
/*         Ajax loader               */
/* ********************************* */
.map-loader
{
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    height: 3px;
    z-index: 10100;
    background-color: #d35400;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
}
.loading .map-loader
{
    display: block;
    -webkit-animation: shift-rightwards 3s ease-in-out infinite;
    -moz-animation: shift-rightwards 3s ease-in-out infinite;
    -ms-animation: shift-rightwards 3s ease-in-out infinite;
    -o-animation: shift-rightwards 3s ease-in-out infinite;
    animation: shift-rightwards 3s ease-in-out infinite;
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -o-animation-delay: .2s;
    animation-delay: .2s;
}

@-webkit-keyframes shift-rightwards
{
    0%
    {
        -webkit-transform:translateX(-100%);
        -moz-transform:translateX(-100%);
        -o-transform:translateX(-100%);
        transform:translateX(-100%);
    }

    40%
    {
        -webkit-transform:translateX(0%);
        -moz-transform:translateX(0%);
        -o-transform:translateX(0%);
        transform:translateX(0%);
    }

    60%
    {
        -webkit-transform:translateX(0%);
        -moz-transform:translateX(0%);
        -o-transform:translateX(0%);
        transform:translateX(0%);
    }

    100%
    {
        -webkit-transform:translateX(100%);
        -moz-transform:translateX(100%);
        -o-transform:translateX(100%);
        transform:translateX(100%);
    }

}
@-moz-keyframes shift-rightwards
{
    0%
    {
        -webkit-transform:translateX(-100%);
        -moz-transform:translateX(-100%);
        -o-transform:translateX(-100%);
        transform:translateX(-100%);
    }

    40%
    {
        -webkit-transform:translateX(0%);
        -moz-transform:translateX(0%);
        -o-transform:translateX(0%);
        transform:translateX(0%);
    }

    60%
    {
        -webkit-transform:translateX(0%);
        -moz-transform:translateX(0%);
        -o-transform:translateX(0%);
        transform:translateX(0%);
    }

    100%
    {
        -webkit-transform:translateX(100%);
        -moz-transform:translateX(100%);
        -o-transform:translateX(100%);
        transform:translateX(100%);
    }

}
@-o-keyframes shift-rightwards
{
    0%
    {
        -webkit-transform:translateX(-100%);
        -moz-transform:translateX(-100%);
        -o-transform:translateX(-100%);
        transform:translateX(-100%);
    }

    40%
    {
        -webkit-transform:translateX(0%);
        -moz-transform:translateX(0%);
        -o-transform:translateX(0%);
        transform:translateX(0%);
    }

    60%
    {
        -webkit-transform:translateX(0%);
        -moz-transform:translateX(0%);
        -o-transform:translateX(0%);
        transform:translateX(0%);
    }

    100%
    {
        -webkit-transform:translateX(100%);
        -moz-transform:translateX(100%);
        -o-transform:translateX(100%);
        transform:translateX(100%);
    }

}
@keyframes shift-rightwards
{
    0%
    {
        -webkit-transform:translateX(-100%);
        -moz-transform:translateX(-100%);
        -o-transform:translateX(-100%);
        transform:translateX(-100%);
    }

    40%
    {
        -webkit-transform:translateX(0%);
        -moz-transform:translateX(0%);
        -o-transform:translateX(0%);
        transform:translateX(0%);
    }

    60%
    {
        -webkit-transform:translateX(0%);
        -moz-transform:translateX(0%);
        -o-transform:translateX(0%);
        transform:translateX(0%);
    }

    100%
    {
        -webkit-transform:translateX(100%);
        -moz-transform:translateX(100%);
        -o-transform:translateX(100%);
        transform:translateX(100%);
    }
}
/* *********************** */
/*        Crosshairs       */
/* *********************** */
.crosshairs {
    left: calc(50% - 5px);
    position: absolute;
    top: calc(50% - 9px);
    text-align: center;
    z-index: 1000;
}
.crosshairs:before {
    content: '✚';
}
/* *********************** */
/*          Alert          */
/* *********************** */
.kosmtik-alert {
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 60px;
    transition: height 500ms ease-in;
    background-color: #444;
    color: #efefef;
    z-index: 10000;
    font-size: 12px;
    display: none;
}
.kosmtik-alert .close {
    display: block;
    text-align: right;
    color: #efefef;
}
.kosmtik-alert .close:before {
    content: '❌ ';
    font-family: 'dejavu_sansbook';
}
.alert .kosmtik-alert {
    padding: 10px;
    height: auto;
    display: block;
}

/* *********************** */
/*        Help panel       */
/* *********************** */
.help-panel .shortcuts {
    width: 100%;
    font-size: 0.8em;
}
.help-panel .shortcuts th {
    text-align: left;
}
.help-panel .shortcuts td {
    text-align: right;
}
/* *********************** */
/*      Export panel       */
/* *********************** */
.extent-caption {
    background-color: #444;
    color: #efefef;
    min-width: 100px;
    padding: 5px;
    display: none;
    white-space: nowrap;
}
.extent-caption.show {
    display: block;
}


/* *********************** */
/*     Command palette     */
/* *********************** */
.k-command-palette .k-autcomplete-input {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    margin-bottom: 0;
    width: 400px;
    padding: 4px;
    background-color: #555;
    color: #ecf0f1;
    border: none;
}
ul.k-autocomplete-results {
    background-color: #555;
    box-shadow: 0 4px 9px #999999;
    position: absolute;
    z-index: 10000;
}
.k-autocomplete-results li {
    line-height: 1.5em;
    padding: 5px 10px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0.9em;
    color: #bcbcbc;
}
.k-autocomplete-results li strong {
    display: block;
    font-family: 'fira_sanslight';
    font-weight: normal;
    padding: 4px;
}
.k-autocomplete-results li.on {
    background-color: #2c3e50;
    cursor: pointer;
    color: #ecf0f1;
}
.k-autocomplete-results li.k-autocomplete-no-result {
    text-align: center;
    color: #bbb;
    font-size: 0.9em;
    line-height: 40px;
}
.k-autocomplete-results li .shortcut {
    float: right;
    background-color: #333;
    padding: 4px;
}

/* *********************** */
/*   Data inspector popup  */
/* *********************** */
.leaflet-popup-content .data-inspector table {
    width: 100%;
}
.leaflet-popup-content .data-inspector table + table {
    border-top: 1px solid #666;
}


/* *********************** */
/*   Override third party  */
/* *********************** */
.leaflet-control a, .leaflet-control a:hover {
    background-color: #444;
    color: #ecf0f1;
    border: none;
    border-radius: 0!important;
    text-decoration: none;
    text-align: center;
    display: block;
}
.leaflet-control a:hover {
    background-color: #555;
}
.leaflet-bar a.leaflet-disabled {
    background-color: #777;
}
.leaflet-control {
    border: 1px solid #222;
    border-radius: 2px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
    width: 54px;
}
.leaflet-control-zoom-in, .leaflet-control-zoom-out {
    float: left;
}
.leaflet-control-zoom-in {
    border-right: 1px solid #222;
}
.leaflet-control-scale {
    width: auto;
    border: none;
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: none repeat scroll 0 0 #444;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.4);
    color: #efefef;
}
.leaflet-popup-content-wrapper {
    border-radius: 4px;
}
