.toolbar {
    z-index: 1001;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
    background-color: #444;
    color: #efefef;
    height: 40px;
    line-height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.toolbar h1 {
    font-size: 1.2em;
    display: inline-block;
    font-weight: normal;
    padding-left: 45px;
    background-image: url('./header_logo.svg');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 5px center;
}
.toolbar ul {
    display: inline-block;
    text-align: right;
    float: right;
    margin-right: 60px;
    border-right: 1px solid #555;
}
.toolbar ul li {
    display: inline-block;
    padding: 0 10px;
    border-left: 1px solid #555;
    cursor: pointer;
    vertical-align: middle;
    height: 100%;
    font-size: 12px;
    float: right;
}
.toolbar ul li:hover {
  background-color: #555;
}
.toolbar li.reload:hover,
.toolbar li.reload {
    color: #999;
    cursor: not-allowed;
    background-color: #444;
}
.dirty li.reload:hover,
.dirty li.reload {
    color: #efefef;
    background-color: #d35400;
    cursor: pointer;
}
.dirty li.reload:hover {
    background-color: #e67e22;
}
.dirty li.reload:after {
    content: ' ⚡';
}
.toolbar ul li.with-switch {
    height: 40px;
    line-height: 40px;
    padding-right: 20px;
    padding-top: 7px;
}
.toolbar ul li.with-switch .formbox {
    border: none;
    background-color: transparent;
}
.toolbar ul li.with-switch label {
    text-indent: 1em;
}
.toolbar .poll-indicator {
    font-size: 16px;
    cursor: default;
    text-decoration: line-through;
}
.toolbar .poll-indicator:hover {
    background-color: #444;
}
.polling .toolbar .poll-indicator {
    text-decoration: none;
}
.polling-error .toolbar .poll-indicator {
    background-color: #d35400;
}
